@using System.Activities
@using System.Web.DynamicData
@{
    ViewBag.Title = "Index";
}

<h2>Bubble Chart</h2>

<div class="chart-wrapper">
    @(Html.Kendo().Chart()
        .Name("chart")
        .Title("Population Percentage Growth for 2013")
        .Legend(false)
        .Series(series =>
        {
            series.Bubble(new dynamic[]
            {
                new
                {
                    x = 25,
                    y = 9000000,
                    size = 30,
                    category = "Canada"
                }, new 
                {
                    x = 10,
                    y = 37000000,
                    size = 40,
                    category = "U.K."
                }, new 
                {
                    x = 5,
                    y = 40000000,
                    size = 10,
                    category = "Italy"
                }, new 
                {
                    x = 20,
                    y = 120000000,
                    size = 5,
                    category = "France"
                }, new 
                {
                    x = 40,
                    y = 6000000,
                    size = 75,
                    category = "Israel"
                }, new
                {
                    x = 15,
                    y = 12000000,
                    size = 10,
                    category="Switzerland"
                }                
            });
        })
        .XAxis(axis => axis
            .Numeric()
            .Labels(labels => labels
                .Format("{0:N0}%")
                .Skip(1)
            )
            .AxisCrossingValue(-5000)
            .MajorUnit(5)
        )
        .YAxis(axis => axis
            .Numeric()
            .Labels(labels => labels
                .Format("{0:N0}")
            )
            .Line(line => line
                .Width(0)
            )
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{3}: {2:NO}MM visa requests")
            .Opacity(1)
                
        )
    
    )
    <ul class="k-content">
        <li>Circle size: number of visa requests</li>
        <li>Y axis: population</li>
        <li>X axis: percentage growth</li>
    </ul>

</div>
<style>
    .chart-wrapper {
        position: relative;
    }
    .chart-wrapper ul {
        font-size: 12px;
        margin: 50px 20px 0 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 110px;
    }

</style>