<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner">
    <div class="navbar-header">
        <a href="https://www.telerik.com/kendo-ui" class="navbar-brand">KENDO-UI</a>
        <a href="https://www.telerik.com/kendo-ui" class="navbar-brand">KENDO-UI</a>
        <a href="https://github.com/telerik/kendo-ui-core" class="navbar-brand">KENDO-UI</a>
    </div>
    <div class="navbar-collapse collapse">
        <nav class="navbar-logo">
            <ul class="nav navbar-nav">
                <li><a href="#/">Welcome</a></li>
                <li><a href="#/welcome2">Welcome 2</a></li>
                <li><a href="#/welcome3">Welcome 3</a></li>
                <li><a href="#/dataSource">DataSource</a></li>
                <li><a href="#/modal">Modal</a></li>
                <li><a href="#/globalEvents">Global Events</a></li>
                <li><a href="#/order">Computer Order</a></li>
            </ul>
        </nav>
    </div>
</header>