@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<label id="status"></label>
@(Html.Kendo().Slider()
    .Name("slider")
    .Min(0)
    .Max(255)
    .SmallStep(8)
    .LargeStep(16)
    .Orientation(SliderOrientation.Vertical)
    .ShowButtons(false)
    .TickPlacement(SliderTickPlacement.Both)
    .Events(e => e.Slide("onSlide"))

      )

<script>
    function onSlide(e) {
        $("#status").text(e.value);
    }
</script>