 <div class="page-unicorns">

  <header class="site-header">
    <div class="site-logo dark">Wild Rydes</div>

    <div class="row column medium-8 large-6 xlarge-5 xxlarge-4">
      <h1 class="title">Unicorns Are Our Friends</h1>
      <p class="content">
        The app is what makes this service exist, but the unicorns make it move. Meet them and see who you are riding with!
      </p>
    </div>

    <nav class="site-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="unicorns.html">Meet the Unicorns</a></li>
        <li><a href="investors.html">Investors & Board of Directors</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="apply.html">Apply</a></li>
      </ul>
    </nav>
    <button type="button" class="btn-menu"><span>Menu</span></button>
  </header>

  <div class="row column medium-10 large-8 xxlarge-6">
    <p class="content">
       herd.
    </p>

    <p class="content">
       perks.  
    </p>

    <p class="content">Meet a few of the unicorns that are part of our family.</p>
  </div>

  <section class="unicorns-list">
    <div class="row">
      <div class="unicorn jimmy">
        <div class="columns medium-5 large-6 xlarge-5 xlarge-offset-1">
          <img src="images/wr-unicorn-one.png" alt="Jimmy Three Legs">
        </div>

        <div class="columns medium-7 large-6 xlarge-5 xxlarge-4">
          <h2 class="title">Bucephalus</h2>
          <div class="subtitle">Golden Swiss</div>
          <p class="content">
            Bucephalus, Go.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="unicorn henry">
        <div class="columns medium-5 medium-push-7 large-6 large-push-6 xlarge-5 xlarge-offset-1 xlarge-push-5">
          <img src="images/wr-unicorn-two.png" alt="Hot Shoe Henry">
        </div>

        <div class="columns medium-7 medium-pull-5 large-6 large-pull-6 xlarge-5 xlarge-pull-5 xxlarge-4 xxlarge-offset-1">
          <h2 class="title">Shadowfox</h2>
          <div class="subtitle">Brown Jersey</div>
          <p class="content">
            Shadowfox  
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="unicorn veronica">
        <div class="columns medium-5 large-6 xlarge-5 xlarge-offset-1">
          <img src="images/wr-unicorn-three.png" alt="Veronica">
        </div>

        <div class="columns medium-7 large-6 xlarge-5 xxlarge-4">
          <h2 class="title">Rocinante</h2>
          <div class="subtitle">Baby Flying Yellowback</div>
          <p class="content">
            Rocinante.
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="site-footer">
 
  </footer> 
</div> 