 <div class="page-unicorns">

  <header class="site-header">
    <div class="site-logo dark"> </div>

    <div class="row column medium-8 large-6 xlarge-5 xxlarge-4">
      <h1 class="title"> </h1>
      <p class="content"> 
      </p>
    </div>
  
  </header>

  <div class="row column medium-10 large-8 xxlarge-6">
    <p class="content"> 
    </p>

    <p class="content"> 
    </p>

    <p class="content"> </p>
  </div>

  <section class="unicorns-list">
    <div class="row">
      <div class="unicorn jimmy">
        <div class="columns medium-5 large-6 xlarge-5 xlarge-offset-1">
          <img src="dist/images/wr-home-quote.png"  >
        </div>

        <div class="columns medium-7 large-6 xlarge-5 xxlarge-4">
          <h2 class="title"> </h2>
          <div class="subtitle">   </div>
          <p class="content">
           
          </p>
        </div>
      </div>
    </div>
   

    <div class="row">
      <div class="unicorn veronica">
        <div class="columns medium-5 large-6 xlarge-5 xlarge-offset-1">
          
        </div>

        <div class="columns medium-7 large-6 xlarge-5 xxlarge-4">
        <img src="dist/images/wr-unicorn-three.png" alt="Veronica">
          <p class="content">
             .
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="site-footer">
 
  </footer> 
</div> 