
  <title>TMM | Home</title> 

   
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>

  <script src="https://d3js.org/d3.v4.min.js"></script>
 -->
 <script src="dist/js/d3/d3v4.js"></script>
  <link rel="stylesheet" href="dist/css/iris.css"/> 
 <style> 
.charts { 
  min-height:80px; 
}
.d3 {
  min-height:400px;
  background-color:transparent; 
  border:inset 2px blue; 
  display:none;
  position:absolute;
  top:100px;
}
.one, .two, .three, .four, .five, .six {
  float:left;
  width:600px;
  margin:10px;
  border: solid 1px blue;   
} 
.six * {margin-top:440px;
}
.links {
    max-width:500px;  
    float:right;
    position:absolute;
    top:500px;
    margin:10px;
}
pre {
    color:white;
    background: url('dist/images/bluechipTile.jpg');
}
</style> 

<nav id="rightmenu" class="rightmenu col-md-2 d-none d-md-block bg-light sidebar">
  <div class=" nav flex-column rightnav sidebar-sticky">
    <div class="  list-group">  
      <a href="http://www.thomasmaestas.net/dag-dagre/index.html"  target="_blank" class="yellow  list-group-item list-group-item-action">DIRECTED ACYCLIC GRAPH TOOL</a>
      <a href="http://www.thomasmaestas.net/dice/index.html" target="_blank"  class="list-group-item list-group-item-action">JAVASCRIPT DICE GAME</a> 
     <a href="https://www.thomasmaestas.net/tmm_demo/index.html"  target="_blank" class="  list-group-item list-group-item-action">DASHBOARD WEB-APP</a>
                      <a href="http://www.thomasmaestas.net/bsc/index.html"  target="_blank" class="list-group-item list-group-item-action">1-PAGE WEB-APP</a>    

   <br />
    <a href="http://ourdailytech.net"  target="_blank"  class=" list-group-item list-group-item-action com btn btn-primary"> 
      <h4>DAILY TECH BLOG</h4>
    </a> 


  </div>
  </div>
</nav>
<button id="one">data source</button>
<!--
<button id="two">two</button>
<button id="three">three</button>
-->
<button id="four">data transition</button>
<button id="five">data transform</button>
<button id="six"> data generation</button>

<div class="charts">
        <div class="d3 one">
        </div>
  <div class="d3 two">
    <div></div> 
    </div>
          <div class="d3 three"> 
            <div></div>
          </div>
    <div class="d3 four"> 
      <div></div>
      </div>
<div class="d3 five"> 
  <div></div>
</div>
          <div class="d3 six"> 
            <div></div>
          </div> 
</div>  
<script> 

document.getElementById('one').addEventListener('click', function () {
  
  console.log("You finally clicked without jQuery");
    d3.selectAll(".d3").style("display","none");
  d3.selectAll(".one").style("display","block");
   
    function render(data){
      d3.selectAll(".one")
        .append("pre")
        .text(JSON.stringify(data, null, 2));
    }
    function type(d){
      d.sepal_length = +d.sepal_length;
      d.sepal_width  = +d.sepal_width;
      d.petal_length = +d.petal_length;
      d.petal_width  = +d.petal_width;
      return d;
    }
    d3.csv("data/iris.csv", type, render);
});
</script>

<script>

/*
document.getElementById('two').addEventListener('click', function () {
    
    console.log("You finally clicked without jQuery");
      d3.selectAll(".d3").style("display","none");
    d3.selectAll(".two").style("display","block");
      var body = d3.selectAll(".two");
          
      function teleport(s){
          s.transition().duration(500) // <-A
              .style("width", "100px")
              .style("height", "1px")
          .transition().duration(500) // <-B
              .style("left", "400px")
          .transition().duration(1000) // <-C
              .style("left", "400px")
              .style("height", "40px")
              .style("width", "40px");
      };
      
      body.append("div")    
              .style("position", "relative") /// fixed
              .style("background-color", "steelblue")
              .style("left", "10px")
              .style("width", "40px")
              .style("height", "40px")
              .call(teleport); // <-D    
});




document.getElementById('three').addEventListener('click', function () {
  console.log("You finally clicked without jQuery");
  d3.selectAll(".d3").style("display", "none");
  d3.selectAll(".three").style("display","block"); 
var data = [ // <-A
{name: 'Linear', fn: d3.easeLinear},
{name: 'Cubic', fn: d3.easeCubic},
{name: 'CubicIn', fn: d3.easeCubicIn},
{name: 'Sin', fn: d3.easeSin},
{name: 'SinIn', fn: d3.easeSinIn},
{name: 'Exp', fn: d3.easeExp},
{name: 'Circle', fn: d3.easeCircle},
{name: 'Back', fn: d3.easeBack},
{name: 'Bounce', fn: d3.easeBounce},
{name: 'Elastic', fn: d3.easeElastic},
{name: 'Custom', fn: function(t){ return t * t; }}// <-B
],
colors = d3.scaleOrdinal(d3.schemeCategory20);

d3.selectAll(".three").selectAll("div")
.data(data) // <-C
.enter()
.append("div")
.attr("class", "fixed-cell")
.style("top", function (d, i) {
return i * 40 + "px";
})
.style("background-color", function (d, i) {
return colors(i);
})
.style("color", "white")
.style("left", "500px")
.text(function (d) {
return d.name;
});
  
});
*/

document.getElementById('four').addEventListener('click', function () {
  console.log("You finally clicked without jQuery");
  d3.selectAll(".d3").style("display", "none");
  d3.selectAll(".four").style("display","block"); 
  var body = d3.selectAll(".four"), duration = 3000;

    var div = body.append("div")
            .classed("box", true)
            .style("background-color", "steelblue")
            .style("color", "white")
            .text("waiting") // <-A
        .transition().duration(duration) // <-B
                .delay(1000) // <-C
                .on("start", function(){ // <-D
                    d3.select(this).text(function (d, i) {
                        return "transitioning";
                    });
                })
                .on("end", function(){ // <-E
                    d3.select(this).text(function (d, i) {
                        return "done";
                    });
                })
            .style("margin-left", "600px");
});
 
document.getElementById('five').addEventListener('click', function () {
  
  console.log("You finally clicked without jQuery");
    d3.selectAll(".d3").style("display","none");
  d3.selectAll(".five").style("display","block");
   

  var data = ["Cat", "Dog", "Cat", "Dog", "Cat", "Dog", "Cat", "Dog"],
        duration = 800;

    d3.selectAll(".five").selectAll("div")
            .data(data)
        .enter()
        .append("div")
            .attr("class", "fixed-cell")
            .style("top", function (d, i) {
                return i * 40 + "px";
            })
            .style("background-color", "steelblue")
            .style("color", "white")
            .style("left", "500px")
            .text(function (d) {
                return d;
            })
            .transition() // <- A
                .duration(duration)
                    .style("left", "10px")
            .filter(function(d){return d == "Cat";}) // <- B
                .transition() // <- C
                .duration(duration)
                    .style("left", "500px");
}); 

document.getElementById('six').addEventListener('click', function () {
  console.log("You finally clicked without jQuery");
  d3.selectAll(".d3").style("display", "none");
  d3.selectAll(".six").style("display","block"); 
var id= 0,
        data = [],
        duration = 200,
        chartHeight = 100,
        chartWidth = 680;

    for(var i = 0; i < 20; i++) push(data);

    function render(data) {
        var selection = d3.selectAll(".six")
                .selectAll("div.v-bar")
                .data(data, function(d){return d.id;}); // <-A

        // enter
        selection.enter()
                .append("div")
                .attr("class", "v-bar")
                .style("z-index", "0")
                .style("position", "fixed")
                .style("top", chartHeight + "px")
                .style("left", function(d, i){
                    return barLeft(i+1) + "px"; // <-B
                })
                .style("height", "0px") // <-C
                .append("span");

        // update
        selection
                .transition().duration(duration) // <-D
                .style("top", function (d) {
                    return chartHeight - barHeight(d) + "px";
                })
                .style("left", function(d, i){
                    return barLeft(i) + "px";
                })
                .style("height", function (d) {
                    return barHeight(d) + "px";
                })
                .select("span")
                .text(function (d) {return d.value;});

        // exit
        selection.exit()
                .transition().duration(duration) // <-E
                .style("left", function(d, i){
                    return barLeft(-1) + "px"; //<-F
                })
                .remove(); // <-G
    }

    function push(data) {
        data.push({
            id: ++id,
            value: Math.round(Math.random() * chartHeight)
        });
    }

    function barLeft(i) {
        return i * (30 + 2);
    }

    function barHeight(d) {
        return d.value;
    }

    setInterval(function () {
        data.shift();
        push(data);
        render(data);
    }, 1000);

    render(data);

    d3.selectAll(".six")
       .append("div")
           .attr("class", "baseline")
           .style("position", "fixed")
           .style("z-index", "1")
           .style("top", chartHeight + "px")
           .style("left", "0px")
           .style("width", chartWidth + "px");
});
</script>
<script></script>
  <!--
  <script src="d3Chaining.js"></script>
  
  <script src="d3Chart.js"></script>
  
  <script src="d3Easing.js"></script>
  
  <script src="d3Filter.js"></script>
  
  <script src="transitionMulti.js"></script>
  
  <script src=""></script>
  
  <link rel="stylesheet" type="text/css" href="dist/css/styles.css" />
  -->
 

  <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

    <h3>{{ home.message }}</h3>

    <h5>Number of sensors listed:  {{ home.schoolCount }}</h5>
    <h5>Number of subsensors listed:  {{ home.classroomCount }}</h5>
    <h5>Number of supersensors listed:  {{ home.activityCount }}</h5>
 
</div>
<div class="links">
<h4>Cloud Demo Links</h4>
    <pre> 
    
    FIREBASE  
    Static Hosting 
    <a href="https://ourdailytechdata.firebaseapp.com" target="_blank">https://ourdailytechdata.firebaseapp.com</a>
    <a href="https://tm-host.firebaseapp.com" target="_blank">https://tm-host.firebaseapp.com</a>
    <br /> 
    AWS  
    Serverless Functions, Hosting
    <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com" target="_blank">http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com</a>
    <a href="https://s3.amazonaws.com/tmm-nov/index.html" target="_blank">https://s3.amazonaws.com/tmm-nov/index.html</a>
    <br /> 
    DATA ENDPOINTS -
    Amazon S3 Static NoSQL Storage
    <a href="https://s3.amazonaws.com/tmm-nov/posts/april.json" target="_blank">https://s3.amazonaws.com/tmm-nov/posts/april.json</a>
    Amazon RDS Relational PostgreSQL Database 
    <a  >sensor-instance.caq9hvksjohf.us-east-1.rds.amazonaws.com</a>
    </pre>
</div> 