<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner">
    <div class="navbar-header">
     
    </div>
    <div class="navbar-collapse collapse">
        <nav class="navbar-logo">
            <ul class="nav navbar-nav">
                <li><a href="#/">Welcome</a></li>
                <li><a href="#/welcome2">Welcome 2</a></li>
                <li><a href="#/welcome3">Welcome 3</a></li>
                <li><a href="#/modalWindow">Modal</a></li>
                <li><a href="#/dataSource">DataSource</a></li>
                <li><a href="#/globalEvents">Events</a></li>
                <li><a href="#/order">Order</a></li>
                <li><a href="#/dataVizualization">Data Vizualization</a></li>
            </ul>
        </nav>
        <div><p>
                <br />
                FIREBASE
                https://ourdailytechdata.firebaseapp.com/ // Daily Tech Blog Finished
                https://tm-host.firebaseapp.com/ // TMM Firebase Starter
                <br />
                <br />
                AWS
                http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com // TMM Finished
                https://s3.amazonaws.com/tmm-nov/index.html // TMM Draft
                <br />
                <br />
                
                ENDPOINTS
                https://s3.amazonaws.com/tmm-nov/posts/april.json // DB Endpoints
                # RDS
                sensor-instance.caq9hvksjohf.us-east-1.rds.amazonaws.com
                </p></div> 
    </div>
</header>