@model IEnumerable<KendoMVC.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

@(Html.Kendo().Chart<KendoMVC.Models.Book>()
    .Name("bookPriceChart")
    .DataSource(dataSource => dataSource
        .Read(read => read.Action("Books_Read", "BookStore"))
    )
    .Series(series =>
    {
        series.Bar(d => d.Price)
            .Name("Price");
    })
    .CategoryAxis(axis => axis
        .Categories(model=>model.Title)
    )
    .Events( e => e
        .DataBound("books_databound")
        .SeriesClick("books_seriesClick")
    )

)

<script>
    function books_databound() {
        alert("books data were bound!");
    }
    
    function books_seriesClick() {
        alert("You clicked on the series!");
    }
</script>